<html>
    <head>
        <title>Hoseo_notice test blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.hoseo.ac.kr/intro.jsp">Hoseo University web</a></h1>
        </div>

        <div>
            <p>published: 26.05.2020, 19:30</p>
            <h2><a href="https://www.hoseo.ac.kr/intro.jsp">Testing (link for Hoseo University)</a></h2>
            <p>Template 및 html 테스트 진행</p>
        </div>

        <div>
          <p>published: 26.05.2020, 19:30</p>
          <h2><a href="https://www.hoseo.ac.kr/intro.jsp">Testing (link for Hoseo University)</a></h2>
          <p>Template 및 html 테스트 진행 2</p>
        </div>
    </body>
</html>
